.body_404{
	background-color: $dark-blue;
	color: $white;

	.muth-title-text-404{
		text-align: center;
	}
	span{
		padding-top: $padding-medium;
		padding-bottom: $padding-medium;
		display: block;
		font-size: 1.2rem;
	}
	a{
		background-color: $light-green;
	}
	
	img{
		padding-top: $padding-medium;
		height: 40%;
		width: 40%;
	}
	
	.muth-page-title-404{
		margin-top: 20px;
	}
		
	
}