//Mixins for this section
@mixin parenthesis-translateX-transform($valueX){
  -webkit-transform: translateX($valueX);
  -moz-transform: translateX($valueX);
  transform: translateX($valueX);
}

@mixin parenthesis-scale-transform($scale-size){
  -webkit-transform: scale($scale-size);
  -moz-transform: scale($scale-size);
  transform: scale($scale-size);
}

@mixin parethesis-transition($transform-time, $opacity-time){
  -webkit-transition: -webkit-transform $transform-time, opacity $opacity-time;
  -moz-transition: -moz-transform $transform-time, opacity $opacity-time;
  transition: transform $transform-time, opacity $opacity-time;
}

//Styles for this section
.muth-fast-contact{
  font-family: 'PoppinsRegular', sans-serif;
  background: $gray;
  .muth-fast-contact-content{
    @extend .container;
    text-align: center;

       a{
        @include make-all-columns(12, 12, 12, 12, $gutter);
        padding: $padding-medium 30px $padding-medium 30px;
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
        span{
          font-family: PoppinsBold;
          color: #2dbe60;
        }
    }
  }
}