footer{
	background-color: #374048;
	color: $light-font-gray;
}
.muth-container{
	@extend .container;
}
.muth-main-footer{
	 overflow: hidden;
	@extend .row;
	line-height: 1.6rem;
	hr{
		border-top-color: $light-green;
	}
	h3{
		font-family: PoppinsSemiBold;
		margin-top: 0px;
		font-size: 1.4rem;
		color: $white-font;
	}
	p{
		font-family: PoppinsLight;
		text-align: justify;
	}
	h4{
		font-size: 1.2rem;
		color: $white-font;
		padding-top: $padding-small;
	}
}
.muth-secondary-footer{
	display: inline-block;
	vertical-align: middle;
	font-family: PoppinsLight;
	width: 100%;
	padding: $padding-small;
	background-color: #21262c;
	text-align: center;
	color: $white-font;
	h4{
		padding-top: 2px;
		font-size: 0.8rem;
	}
}
.muth-footer-text-moto{
	color: #969da3;
	padding-top: $padding-big;
	padding-bottom: $padding-big;

	
	@include make-all-columns(12,12,12,4,$gutter);
	img{
		width: 84px;
		height: 25px;
		display: block;
	}
	@media (max-width: 768px){
		text-align: center;
		h4{
			text-align: left;
		}
		p{

			text-align: left;
		}
	}
	@media (max-width: 1200px){
		padding-bottom: 0px;
	}
		@media (max-width: 768px){
		padding-top: $padding-big;
	}
	}
.muth-footer-sitemap{
	padding-top: $padding-big;
	padding-bottom: $padding-big;
	@include make-all-columns(12,6,6,4,$gutter);
	h3{
		color: $light-green;
	}
	
	ul{
		text-transform: uppercase;
		list-style: none;
		text-align: left;
		margin: 0px;
		padding:0px;
		display: block;
	}
	li{
		font-family: PoppinsRegular;
		display:inline-block;
		width: 50%;
		padding-right: $padding-small;
	}
	
	.current_page_item a{
		color: $gray;
	}

	a{
		text-decoration: none;
		outline: none;
		&:hover{
			color: $white-font;
		}
		color: $light-font-gray;
	}
	@media (max-width: 768px){
		text-align: center;
		padding-bottom: 0px;
	}
}

.muth-contact{
	@include make-all-columns(12,6,6,4,$gutter);
	
	padding-top: $padding-big;
	padding-bottom: $padding-big;

	h3{
		color: $light-green;
		@media (max-width: 768px){
			text-align: center;
		}
	}
	
	ul{
		margin: 0px;
		padding: 0px;
		list-style: none;
		font-size: 40px;
		font-color: $gray;
		li{
			display: inline-block;
			a{
				text-decoration: none;
				cursor: pointer;
				color: #969da3;
			}
			.muth-muth-fb{
				&:hover{
					color: #0a79d2;
				}
			}
			.muth-muth-twiter{
				&:hover{
					color: #4099ff;
				}
			}
			.muth-muth-linkedin{
				&:hover{
					color: #0077b5;
				}
			}
			.muth-muth-rss{
				&:hover{
					color: #ff6600;
				}
			}
		}
	}
	@media (max-width: 768px){
		text-align: center;
	}	
}

.muth-footer-table{
	padding-bottom: $padding-medium;
	color: #969da3;
	a{
		color: $light-green;
	}

	table{
		width: 100%;
		//table-layout: fixed;
		td{
			font-family: PoppinsLight;
			padding-bottom: 8px;
			vertical-align: top;
		}
		div{
			display: inline-block;
			font-size: 1.5rem;
			padding-right: 10px;
		}	
		span{
			display: inline-block;
			padding-right: $padding-medium;
		}
		@media (max-width: 768px){
			text-align: left;
		}
	}
}

.muth-footer-address-padding-1{
	padding-left: $padding-medium;
}
.muth-footer-address-padding-2{
	padding-left: $padding-medium;
}
