//Global Mixins
@mixin make-all-columns($xs, $sm, $md, $lg, $gutter) {
  @include make-xs-column($xs, $gutter);
  @include make-sm-column($sm, $gutter);
  @include make-md-column($md, $gutter);
  @include make-lg-column($lg, $gutter);
}

@mixin make-all-columns-offset($xs-offset, $sm-offset, $md-offset, $lg-offset) {
  @include make-xs-column-offset($xs-offset);
  @include make-sm-column-offset($sm-offset);
  @include make-md-column-offset($md-offset);
  @include make-lg-column-offset($lg-offset);
}

@mixin make-all-columns-push($xs-push, $sm-push, $md-push, $lg-push) {
  @include make-xs-column-push($xs-push);
  @include make-sm-column-push($sm-push);
  @include make-md-column-push($md-push);
  @include make-lg-column-push($lg-push);
}

@mixin make-all-columns-pull($xs-pull, $sm-pull, $md-pull, $lg-pull) {
  @include make-xs-column-pull($xs-pull);
  @include make-sm-column-pull($sm-pull);
  @include make-md-column-pull($md-pull);
  @include make-lg-column-pull($lg-pull);
}

//global classes
.muth-page-title {
  @include make-all-columns(12, 12, 12, 12, $gutter);
  text-align: center;
  margin-top: 100px;
  margin-bottom: $padding-small;
  h1{
    text-transform: uppercase;
    font-family: Helvetica95Black;
    font-size: 2.6rem;
    color: #374048;
    font-weight: bold;
  }
  @media (max-width: 768px){
    margin-top: 10px;
    font-size: 2.2rem;
    font-weight: bold;
  }
   &:after{
        content: "";
        position: absolute;
        height: 5px;
        width: 82px;
        background:  #adebc4;
        left: calc(50% - 41px);
        bottom: -15px;
      }

}
.muth-page-sub-title{
  font-family: PoppinsSemiBold;
  @include make-all-columns(12, 12, 12, 12, $gutter);
  text-align: center;
  padding-bottom: $padding-medium;
  font-size: 1.6rem;
  font-weight: bold;
  color: $light-green;
  padding-top: $padding-big;
  h2{
    margin: 0px;
  }
  @media (max-width: 750px){
    h2{
      font-size: 1.4rem;
    }
  }
  
}

.muth-page-full-width {
  display: block;
   overflow: hidden;
}

.muth-page-background-gray {
  background-color: $gray;
}

.muth-page-background-white {
  background-color: $white;
}

.muth-page-content {
  @extend .container;
  .muth-subheader-line {
    @include make-all-columns(4, 4, 4, 4, $gutter);
    @include make-all-columns-offset(4, 4, 4, 4);
    border-bottom: 1px groove;
    border-color: $light-green;
  }
}
