
.muth-contact-form-name-label {
      font-family: PoppinsMedium;
      display: block;
      text-align: left;
      color: #374048;
      pointer-events: none;
      padding-top: $padding-small;
      padding-bottom: 10px;
}

.muth-contact-form-name-input {
      font-family: PoppinsLight;   
      border: none;
      padding: 9px 15px 9px 15px;
      font-size: 1rem;
      width: 100%;
      box-shadow: 0px 0px 0px 2px transparent;
      -webkit-transition: box-shadow 0.3s;
      transition: box-shadow 0.3s;
      color: $medium-blue;
      font-weight: bold
}

.muth-contact-form-name-span {
      position: relative;
      display: block;
      pointer-events: none;
}

.muth-contact-form-name-span::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 39px;
      top: -40px;
      left: 0px;
      box-shadow: 0px 0px 0px 0px;
      color: $light-green;
    }

.muth-contact-form-name-input:focus {
      box-shadow: 0px 0px 0px 2px $light-green;
      pointer-events: none;
    }

.muth-contact-form-name-input:focus + .muth-contact-form-name-span::after {
      -webkit-animation: anim-shadow 0.3s forwards;
      animation: anim-shadow 0.3s forwards;
}