//Mixins for this section
@mixin size-png-logo($width, $height){
	height: $height;
	width: $width;
}
//Styling for this sections
.muth-navbar{
	float: left;
	z-index: 1000;
	display: block;
	width:100%;
	background-color: $dark-blue-prolan-95a;
	position: fixed;
	@media (max-width: 750px){
		display: inline-block;
		position: static;
	}
	.muth-nav-logo{
		float: left;
		position: fixed;
		background: black;
		height: 64.45px;
		opacity: 0.95;
		img{
			margin: 4px 40px 0 30px;
			@include size-png-logo(168px, 55px);

			@media (max-width: 991px){
				@include size-png-logo(144px, 47px);
			}

			@media (max-width: 750px){
				margin: 10px 40px  30px;
			}
		}

		@media (max-width: 991px){
			height: 55px;
		}

		@media (max-width: 750px){
			text-align: center;
			height: 65px;
			width: 100%;
			position: initial;
		}
	}

	.muth-nav-menu{
		font-family: PoppinsMedium;
		text-transform: uppercase;
		float: right;
		@media (max-width: 750px){
			display: block;
			float: left;
			width: 100%;
			ul{
				text-align: center;
				li{
					border-bottom: 1px dashed;
					border-color: $medium-blue;
				}
			}
		}
		ul{
			margin: 0px;
			padding: 0px;
			overflow: hidden;
			list-style: none;
			li{
				float: left;
				@media (max-width: 750px){
					float: none;
				}	
				a{
					text-decoration: none;
					font-size: 1rem;
					display: block;
					padding: 1.3rem;
					color: white;
				}

				a:hover{
					background: $light-green;
				}

				a:focus{
					background: $light-green;
				}
				a:visited{
					background: $light-green;
				}
			}
		}
	}

}

//Language Bar Styling
.muth-navbar-languages{
	float: right;
	background-color: #171a1c;
	position: fixed;
	width: 280px;
	top: 63px;
	right: -60px;
	border-radius: 5px;
	//border-bottom-left-radius: 5px;

	@media (max-width: 991px){
		width: 245px;
		top: 55px;
		right: -60px;
	}

	@media (max-width: 750px){
		position: absolute;
		float: left;
		border-radius:5px;
		height: 55px;
		width: 140px;
		top:72px;
		left: 6px;
		-ms-transform: none;
   		-webkit-transform: none;
    	transform: none;
	}

	transform-origin: bottom left;
    -ms-transform: skew(50deg, 0deg);
    -webkit-transform: skew(50deg, 0deg);
    transform: skew(50deg, 0deg);

	ul{
		margin: 0px;
		padding: 0px;
		list-style: none;
		display: inline;

		li{
			float: left;
			padding: 8px 18px 8px 12px;

			transform-origin: bottom left;
		    -ms-transform: skew(-50deg, 0deg);
		    -webkit-transform: skew(-50deg, 0deg);
		    transform: skew(-50deg, 0deg);

		    @media (max-width: 991px){
				padding: 8px 11px 8px 9px;
			}
		    @media (max-width: 750px){
				-ms-transform: none;
			   	-webkit-transform: none;
			   	transform: none;
			   	padding: 15px 0px 8px 8px;
			}
			a{
				font-size:  25px;
				color: $light-font-gray;
				text-decoration: none;
				cursor: pointer;
				&:hover{
					color: $gray;
				} 
			}
			.muth-active_lang_menu{
				color: $gray;
			}

		}
	}
}

.mobile-menu-deactivated{
	@media (max-width: 750px){
		display: none;
	}
}

.mobile-menu-activated{
	display: block;
}

.muth-logo-mobile-activated{
	@media (max-width: 750px){
			top: 349px;
		}
}

.muth-logo-mobile-deactivated{
	@media (max-width: 750px){
			top: 69px;
		}
}

//Aktive klassees
.muth-active_main_menu{
	background: $light-green;
}

