.muth-title-text {
  @include make-all-columns(12, 12, 12, 12, $gutter);
  
  span{
    font-family: PoppinsLight;
    display: block;
    padding-top: $padding-big;
    padding-bottom: $padding-big;
    font-size: 1rem;
    text-align: justify;
    color: #969da3;
  }
}

.row{
  .muth-profiles:first-child{
    @media (max-width: 767px) {
      padding-bottom: 0;
    }
  }
}

.muth-profiles {
  @include make-all-columns(12, 6, 6, 3, $gutter);
  padding: $padding-big $padding-medium $padding-big $padding-medium;

  img{
    display: block;
    margin: auto;
    width: 128px;
    height: 128px;
  }
  h3{
    color: $light-green;
    font-size: 1.6rem;
    font-family: PoppinsLight;
    display: block;
    text-align: center;
  }
  h4{
    font-size: 1.2rem;
    font-family: PoppinsLight;
    display: block;
    text-align: center;
    color: #374048;
  }
  
  span{
    font-size: 1rem;
    font-family: PoppinsLight;
    padding-top: $padding-small;
    display: block;
    text-align: justify;
    color: #969da3;
  }
}
