.muth-services {
  @include make-all-columns(12, 12, 12, 12, $gutter);
  display: block;
  padding: $padding-big;
  text-align: justify;
  img {
    @include make-all-columns(12, 4, 4, 4, $gutter);
    display: block;
    padding-right: $padding-big;
    padding-left: $padding-big;

  }
  span {
    @include make-all-columns(12, 8, 8, 8, $gutter);
    display: block;
    padding: 0px;
  }
  h2 {
    color: $light-green;
    font-family: PoppinsSemiBold;
    display: block;
    margin-top: 0;
    margin-bottom: $margin-medium;
    @media (max-width: 750px){
      text-align: center;
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
  p{
    color: #969da3;
    font-family: PoppinsRegular;
    font-size: 1.1rem;
  }
  .muth-img-left {
    @include make-all-columns-pull(0, 8, 8, 8);
  }
  .muth-span-right {
    @include make-all-columns-push(0, 4, 4, 4);
  }
  .muth-text-right {
    text-align: right;
    @media (max-width: 750px){
      text-align: center;
    }
  }
  @media (max-width: $screen-sm) {
    img {
     // width: 200px;
     // height: 200px;
    }
  }
}
