.muth-references-webs {
  @include make-all-columns(12, 6, 4, 4, $gutter);
  padding-bottom: $padding-big;
  text-align: center;
}

.muth-references-web-description {
  position: absolute;
  background-color: $light-green;
  top: 120px;
  width: 300px;
  height: 180px;
  opacity: 0.95;
  transform: translateY(80px);
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -o-transition: 0.5s linear;

  .muth-reference-name{
    color: white;
    display: block;
    height: 100px;
    width: 300px;
    @media (max-width: 768px){
      width: 200px;
      height: 70px;
    }
  }
  .muth-reference-name-h3 {
    font-family: PoppinsSemiBold;
    padding-left: $padding-small;
    padding-right: $padding-small;
    text-align: center;
    margin: 0;
  }
  span {
    font-family: PoppinsRegular;
    display: block;
    padding: 0 $padding-small $padding-small $padding-small;
    height: 80px;
    text-transform: uppercase;
    color: $white;
    font-size: 0.9rem;
    //background-color: yellow;
  }
  @media (max-width: 768px){
    width: 200px;
    height: 110px;
    top: 90px;
    transform: translateY(0px);
    h3{
      font-size: 1.5rem;
    }
    span{
      height: 40px;
      font-size: 0.6rem;
    }
  }
}

.muth-references-web-fix-size {
  border-radius: 5px;
  display: block;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  &:hover {
    .muth-references-web-description {
      transform: translateY(0);
    }
  }
  img {
    width: 300px;
    height: 300px;
  }
  @media (max-width: 768px){
    width: 200px;
    height: 200px;
    img{
      width: 200px;
      height: 200px;
    }
  }
  
}

.muth-references-outsourcing,
.muth-references-shop {
  @include make-all-columns(12, 12, 12, 12, $gutter);
  ul {
    padding: 0px;
    li {
      font-family: PoppinsRegular;
      padding-top: $padding-small;
      color: #969da3;
      //list-style: none;
    }
  }
  padding-bottom: $padding-big;
}

.muth-invisible-image-gallery{
  display: none;
} 