//Style for this section
.partners{
	 overflow: hidden;
	background: $gray;
	.muth-partners-content{
		@extend .container;
		text-align: center;
		.muth-partners-header{
			font-family: Helvetica95Black;
			@include make-all-columns(12, 12, 12, 12, $gutter);
			text-transform: uppercase;
			padding-top: $padding-big;
			padding-bottom: $padding-small;
			text-align: center;
			font-size: 2.6rem;
			 color: #374048;
			    &:after{
		        content: "";
		        position: absolute;
		        height: 5px;
		        width: 82px;
		        background:  #adebc4;
		        left: calc(50% - 41px);
		        bottom: 0px;
		      }
		}
		.muth-partners-logos{
			@include make-all-columns(12, 12, 12, 12, $gutter);
			ul{
				list-style: none;
				margin: 0px;
				padding: 0px;
				text-align: center;
				li{
					display: inline-block;
					padding: $padding-medium $padding-medium $padding-big $padding-medium;
					img{
						height: 60px;
					}
				}
			}
		}
	}
}