//Style for this section
.partners{
	background: $white;
	.muth-partners-content{
		@extend .container;
		text-align: center;
		.muth-partners-header{
			font-family: Helvetica95Black;
			@include make-all-columns(12, 12, 12, 12, $gutter);
			text-transform: uppercase;
			padding-top: $padding-big;
			padding-bottom: $padding-small;
			text-align: center;
			font-size: 2.6rem;
			 color: #374048;
		}
		.muth-subheader{
			@include make-all-columns(4, 4, 4, 4, $gutter);
			@include make-all-columns-offset(4, 4, 4, 4);
			border-bottom: 1px groove;
			border-color: $light-green;
			margin-bottom: $padding-medium;
		}
		.muth-partners-logos{
			@include make-all-columns(12, 12, 12, 12, $gutter);

			ul{
				list-style: none;
				margin: 0px;
				padding: 0px;
				text-align: center;
				li{
					display: inline-block;
					padding: $padding-small $padding-medium $padding-big $padding-medium;
					img{
						height: 60px;
					}
				}
			}
		}
	}
}