//Mixins for this sections
@mixin service-translateY-transform($valueY) {
  transform: translateY($valueY);
  -webkit-transform: translateY($valueY);
  -moz-transform: translateY($valueY);
}

@mixin service-transition($time, $style, $element: null) {
  @if not $element {
    -webkit-transition: $time $style;
    -moz-transition: $time $style;
    -o-transition: $time $style;
  }
  @else {
    -webkit-transition: $element $time $style;
    -moz-transition: $element $time $style;
    -o-transition: $element $time $style;
  }
}

//Styles for this section
.services {
  @extend .container;
  .muth-services-header{
      font-family: Helvetica95Black;
      @include make-all-columns(12, 12, 12, 12, $gutter);
      text-transform: uppercase;
      padding-top: $padding-big;
      padding-bottom: $padding-small;
      text-align: center;
      font-size: 2.6rem;
       color: #374048;
    }
    .muth-subheader{
      @include make-all-columns(4, 4, 4, 4, $gutter);
      @include make-all-columns-offset(4, 4, 4, 4);
      border-bottom: 1px groove;
      border-color: $light-green;
    }
  .muth-icon-menu {
    .muth-icon-item {
      @include make-all-columns(12, 12, 4, 4, $gutter);
      padding-top: $padding-big;
      padding-bottom: $padding-big;
      text-decoration: none;
      color: $dark-font-gray;
      .muth-monitor-image {
        height: 204px;
        width: 253px;
        margin: 0 auto;
        background: url('../img/monitor.png');
        background-size: 253px 204px;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        @include service-translateY-transform(24px);
        @include service-transition(0.5s,
        ease-in-out);
        @media (max-width: 991px){
          @include service-translateY-transform(0px);
        }
      }
      .muth-service-name-out {
        font-family: PoppinsMedium;
        padding: $padding-small 0 $padding-small 0;
        text-align: center;
        font-size: 1.2rem;
        color: white;
        @include service-transition(0.5s,
        ease-in-out,
        color);
        @media (max-width: 991px){
            color: $light-green;
        }
      }
      .muth-service-name-in {
        font-family: PoppinsMedium;
        top: 9px;
        left: 9px;
        width: 235px;
        height: 121px;
        text-align: center;
        position: absolute;
        color: $light-green;
        font-size: 1rem;
        @include service-transition(5s,ease-in-out, opacity);
        h4 {
          @include service-transition(0.5s,ease-in-out,opacity);
          opacity: 1;
          margin: 0;
          padding-left: 30px;
          padding-right: 30px;
          @media (max-width: 991px){
            opacity: 0;
          }
        }
        img{
          @include service-transition(0.5s,ease-in-out,opacity);
          opacity: 0;
          position: absolute;
          top: 6px;
          left: 5px;
          width: 226px;
          @media (max-width: 991px){
            opacity: 1;
          }
        }
      }
      .muth-service-description {
        font-family: PoppinsLight;
        padding: 0 $padding-medium 0 $padding-medium;
        line-height: 1.6rem;
        text-align: center;
        color: #969da3;
        @include service-translateY-transform(-24px);
        @include service-transition(0.5s,ease-in-out);
        @media (max-width: 991px){
          @include service-translateY-transform(0px);
        }
      }
      &:hover {
        .muth-monitor-image {
          @include service-translateY-transform(0px);
          @include service-transition(0.5s,
          ease-in-out);
          .muth-service-name-in {
            //@include service-transition(5s, ease-in-out, opacity);
            h4{
              opacity: 0;
              @include service-transition(0.5s,ease-in-out,opacity);
            }
            img{
              @include service-transition(0.5s,ease-in-out,opacity);
              opacity: 1;
            }
          }
        }
        .muth-service-name-out {
          color: $light-green;
          @include service-transition(0.5s,
          ease-in-out,
          color);
        }
        .muth-service-description {
          @include service-translateY-transform(0px);
          @include service-transition(0.5s,
          ease-in-out);
        }
      }
    }
  }
}
