//Global colors
$gray: #f4f4f4;
$white: #ffffff;

$light-green: #2dbe60;
$dark-green: #8fab98;

$light-blue: #d0fbf7;
$medium-blue: #525d63;
$dark-blue: rgba(38, 43, 46, 1);
$dark-blue-95a: rgba(38, 43, 46, 0.95);

//Global Paddings
$padding-big: 3.75rem; //(60px)
$padding-medium: 2.5rem; //(40px)
$padding-small: 1.25rem; //(20px)

//Global Margins
$margin-big: 3.75rem; //(60px)
$margin-medium: 2.5rem; //(40px)
$margin-small: 1.25rem; //(20px)

//Font colors
$dark-font-gray: #1a2319;
$dark-font-green: #8fab98;
$light-font-gray: #8e9397;
$white-font: #fff;

//Global gutter
$gutter: 60px;
